﻿@model IEnumerable<Rezervacija>

@{
    ViewBag.Title = "Canceled reservations";
    var datumOd = ViewBag.DatumOd;
    var datumDo = ViewBag.DatumDo;
}

<h2 class="text-danger">@ViewBag.Title</h2>
<h4>Browse all canceled reservations here.</h4>
<hr />
<p>
    @Html.ActionLink("< Admin panel", "Panel", null, new { @class = "btn btn-warning" })
</p>

@using (Html.BeginForm())
{
    <div style="text-align: left;">
        <h4><b>Browse canceled reservations by date:</b></h4>
        from: <input type="date" id="inputDatumi" name="DatumOd" class="form-control" style="display: inline-block" value=@datumOd.ToString("yyyy-MM-dd") />
        to: <input type="date" id="inputDatumi" name="DatumDo" class="form-control" style="display: inline-block" value=@datumDo.ToString("yyyy-MM-dd") />
        <input id="searchBtn" type="submit" name="" value="Search" class=" btn btn-sm btn-default" />
    </div>
}

<div style="overflow-x:auto; white-space: nowrap">
    @if (Model.Count() == 0)
    {
        <h4 class="text-success" style="font-weight: bold;">
            No canceled reservations from @datumOd.ToString(ConfigClass.GetProperty("dateFormat"))
            to @datumOd.ToString(ConfigClass.GetProperty("dateFormat")).
        </h4>
    }
    else if (Model.Count() > 0)
    {
        <table id="rez" class="table table-striped table-bordered table-responsive nowrap"
               style="font-size: 1em; border: 1px solid #ccc;margin-top: 10px;">
            <thead style="font-weight: bold; background-color: rgba(202, 202, 202, 0.45)">
                <tr>
                    <th>Time</th>
                    <th style="text-align: center;">Name and surname</th>
                    <th style="text-align: center;">Contact phone</th>
                    <th style="text-align: center;">Date</th>
                    <th style="text-align: center;">Duration</th>
                    <th style="text-align: center;">Court</th>
                    <th style="text-align: center;">Reserved at</th>
                    <th style="text-align: right;">Canceled at</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.Occupied == true)
                    {
                        <tr style="background-image:url('../../Images/Backgrounds/grey3.png')">
                            <td style="text-align: left;">
                                @Html.DisplayFor(modelItem => new Termin(item.VrijemeTermina).SatDisplayFormat)
                            </td>
                            <td colspan="2" style="text-align: center;">
                                @Html.DisplayFor(modelItem => item.ImeIPrezime)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(modelItem => item.DatumTermina)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(modelItem => item.TrajanjeTerminaUSatima)h
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(modelItem => item.Teren)
                            </td>
                            <td style="text-align: center;">
                                @item.VrijemeRezerviranja.ToString(ConfigClass.GetProperty("dateTimeFormat"))
                            </td>
                            <td style="text-align: right;">
                                @DateTime.Parse(item.VrijemeOtkazivanja.ToString()).ToString(ConfigClass.GetProperty("dateTimeFormat"))
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td style="text-align: left;">
                                @Html.DisplayFor(modelItem => new Termin(item.VrijemeTermina).SatDisplayFormat)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(modelItem => item.ImeIPrezime)
                            </td>
                            <td style="text-align: center;">
                                <a href="tel:@item.BrojMobitela">
                                    @Html.DisplayFor(modelItem => item.BrojMobitela)
                                </a>
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(modelItem => item.DatumTermina)
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(modelItem => item.TrajanjeTerminaUSatima)h
                            </td>
                            <td style="text-align: center;">
                                @Html.DisplayFor(modelItem => item.Teren)
                            </td>
                            <td style="text-align: center;">
                                @item.VrijemeRezerviranja.ToString(ConfigClass.GetProperty("dateTimeFormat"))
                            </td>
                            <td style="text-align: right;">
                                @DateTime.Parse(item.VrijemeOtkazivanja.ToString()).ToString(ConfigClass.GetProperty("dateTimeFormat"))
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
</div>
<div class="swipe"></div>

<style>
    @@media only screen and (max-width: 600px) {
        #searchBtn {
            margin-top: 5px;
        }
    }
</style>