﻿@using WebApp.Models.Utilities
@using System.Text;
@{
    ViewBag.Title = "Uređivanje Terena";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";

    var tereni = (ViewBag.Tereni as IEnumerable<Teren>).ToList();
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <h2>@ViewBag.Title</h2>
        <h4>Uredite postojeće ili dodajte nove terene.</h4>
        <hr />
        <div class="form-horizontal">
            @for (int i = 0; i < tereni.Count(); i++)
            {
                StringBuilder imeTerena = new StringBuilder(@tereni[i].ToString());
                StringBuilder vrijednostTerena = new StringBuilder(@tereni[i].Vrijednost(i));

                <div class="form-group">
                    @Html.Label($"Teren #{i + 1}", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="@vrijednostTerena.ToString()" class="form-control" value="@imeTerena.ToString()" />
                    </div>
                </div>
            }
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Spremi" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}
<style>
    @@media only screen and (max-width: 600px) {
        .col-md-10 * {
            min-width: 100% !important;
        }
    }
</style>
