﻿@model WebApp.Models.PodatciOTerenima
@using WebApp.Models.Utilities
@using System.Linq

@{
    ViewBag.Title = "Edit data";
    var updated = ViewBag.Updated ?? false;

    var pozadine = ViewBag.Pozadine as IEnumerable<Pozadina>;
    var ddlPozadine = new SelectList(items: pozadine, dataTextField: "Naziv", dataValueField: "URL");
    var ddlPozadine2 = new SelectList(items: pozadine, dataTextField: "Naziv", dataValueField: "URL");
}

@*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>@ViewBag.Title</h2>        
        <hr />
        @if (updated)
        {
            <div class="alert alert-success">
                <b>Data has been updated successfully.</b>
            </div>
        }
        <p>
            @Html.ActionLink("< Admin panel", "Panel", null, new { @class = "btn btn-warning" })
        </p>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div id="accordion" style="font-family: 'Quicksand', sans-serif;">
            <h3>Courts and contact data</h3>
            <div>
                @Html.HiddenFor(model => model.PodatciOTerenimaId)
                <div class="form-group">
                    @Html.LabelFor(model => model.AppShortName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AppShortName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AppShortName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AppLongName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AppLongName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AppLongName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KontaktMobitel, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.KontaktMobitel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KontaktMobitel, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KontaktEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.KontaktEmail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KontaktEmail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AdresaObjekta, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AdresaObjekta, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AdresaObjekta, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OpisObjekta, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextArea("OpisObjekta", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OpisObjekta, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <h3>Working days and hours</h3>
            <div>
                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.RadnoVrijemeOd, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RadnoVrijemeOd, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RadnoVrijemeOd, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RadnoVrijemeDo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RadnoVrijemeDo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RadnoVrijemeDo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <h3>System data</h3>
            <div>
                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.BrzinaCarousela, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BrzinaCarousela, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BrzinaCarousela, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SlikaPozadineSadrzaja, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList(name: "SlikaPozadineSadrzaja", selectList: ddlPozadine2, htmlAttributes: new { id = "ddlPozadine", @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <h3>Prices and dates</h3>
            <div>
                <div class="form-group">
                    @Html.LabelFor(model => model.LjetoDatumiOdDo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LjetoDatumiOdDo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LjetoDatumiOdDo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ZimaDatumiOdDo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ZimaDatumiOdDo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ZimaDatumiOdDo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CijenaLjetoDan, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CijenaLjetoDan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CijenaLjetoDan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CijenaLjetoNoc, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CijenaLjetoNoc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CijenaLjetoNoc, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CijenaZimaDan, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CijenaZimaDan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CijenaZimaDan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CijenaZimaNoc, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CijenaZimaNoc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CijenaZimaNoc, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success" style="box-sizing:border-box; width: 100%;">Save changes</button>
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        $("#accordion").accordion();
    });
</script>

<style>
    .double {
        zoom: 1.2;
        transform: scale(1.2);
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
</style>