﻿@{
    ViewBag.Title = "Admin panel";
    var rezervacije = ViewBag.Rezervacije as IEnumerable<Rezervacija>;
    var datumOd = ViewBag.DatumOd;
    var datumDo = ViewBag.DatumDo;

}

<h2>Admin Panel</h2>
<h4>Manage your courts.</h4>
<hr />


<p style="text-align: center;">
    @Html.ActionLink("Mark as occupied", "Reserve", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Canceled reservations", "Canceled", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Recent reservations", "Recents", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Statistics", "Statistics", null, new { @class = "btn btn-primary" })

    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit data", "EditData", null, new { @class = "btn btn-primary" })
    }

</p>
<hr />
@using (Html.BeginForm())
{
    <div style="text-align: left;">
        <h4><b>Browse reservations by date:</b></h4>
        from: <input type="date" id="inputDatumi" name="DatumTerminaOd" class="form-control" style="display: inline-block" value=@datumOd.ToString("yyyy-MM-dd") />
        to: <input type="date" id="inputDatumi" name="DatumTerminaDo" class="form-control" style="display: inline-block" value=@datumDo.ToString("yyyy-MM-dd") />
        <input id="searchBtn" type="submit" name="" value="Search" class=" btn btn-sm btn-default" />
    </div>
}
<div id="partialHolder" style="display: block;">
    @Html.Partial("PregledRezervacija")
</div>

<style>
    @@media only screen and (max-width: 600px) {
        .btn {
            margin-bottom: 5px;
        }

        #searchBtn {
            margin-top: 5px;
        }
    }
</style>

<script>
    $('#inputDatumi').keypress(function (e) {
        var key = e.which;
        if (key === 13)  // the enter key code
        {
            pretrazi();
            return false;
        }
    });
</script>

<style>
    .btn-primary {
        background-color: #343434;
        border: 1px solid #121212;
    }

        .btn-primary:hover {
            background-color: #454545;
        }
</style>