﻿@model IEnumerable<Rezervacija>

@{
    ViewBag.Title = "View reservations";
    var rezervacije = ViewBag.Rezervacije as IEnumerable<Rezervacija>;
    DateTime DatumOd = ViewBag.DatumOd;
    DateTime DatumDo = ViewBag.DatumDo;
}

<div style="overflow-x:auto; white-space: nowrap">
    @if (rezervacije.Count() == 0)
    {
        <h4 class="text-danger" style="font-weight: bold;">No reservations from @DatumOd.ToString("dd.MM.yyyy") to @DatumDo.ToString("dd.MM.yyyy").</h4>
    }
    else if (rezervacije.Count() > 0)
    {
        <table id="rez" class="table table-striped table-bordered table-responsive table-condensed nowrap"
               style="font-size: 1em; border: 1px solid #ccc;margin-top: 10px;">
            <thead style="font-weight: bold; background-color: rgba(202, 202, 202, 0.45)">
                <tr>
                    <th style="text-align: center;">Date</th>
                    <th style="text-align: center;">Time</th>
                    <th style="text-align: center;">Name and surname</th>
                    <th style="text-align: center;">Contact phone</th>
                    <th style="text-align: right;" width="28"></th>
                    <th style="text-align: center;">Duration</th>
                    <th style="text-align: center;">Court</th>
                    <th style="text-align: center;">Reserved at</th>
                    <th style="text-align: center;" width="73"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in rezervacije)
                {
                    if (item.Occupied == true)
                    {
                <tr style="background-image:url('../../Images/Backgrounds/grey3.png')">
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.DatumTermina)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => new Termin(item.VrijemeTermina).SatDisplayFormat)
                    </td>
                    <td colspan="2" style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.ImeIPrezime)
                    </td>
                    <td style="text-align: center;">
                        @if (!string.IsNullOrEmpty(item.Notes))
                        {
                            <i class='fas fa-sticky-note' style="position: relative;float:right;color: rgb(255, 229, 86);cursor: pointer; text-shadow: 0px 0px 2px rgba(0,0,0,0.7); vertical-align:middle;" data-container="body" data-toggle="popover"
                               data-placement="top" data-content="@Html.DisplayFor(modelItem => item.Notes)"></i>
                        }
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.TrajanjeTerminaUSatima)h
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.Teren)
                    </td>
                    <td style="text-align: center;">
                        @item.VrijemeRezerviranja.ToString(ConfigClass.GetProperty("dateTimeFormat"))
                    </td>
                    <td style="text-align: right;">
                        @Html.ActionLink("Cancel", "Cancel", "Reservation", new { id = item.RezervacijaId }, new { @class = "btn btn-sm btn-danger", style = "color: #fff;", onclick = "return confirm('Are you sure you want to cancel the reservation?');" })
                    </td>
                </tr>
                    }
                    else
                    {
                <tr>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.DatumTermina)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => new Termin(item.VrijemeTermina).SatDisplayFormat)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.ImeIPrezime)
                    </td>
                    <td style="text-align: center;">
                        <a href="tel:@item.BrojMobitela">
                            @Html.DisplayFor(modelItem => item.BrojMobitela)
                        </a>
                    </td>
                    <td style="text-align: center;">
                        @if (!string.IsNullOrEmpty(item.Notes))
                        {
                            <i class='fas fa-sticky-note' style="position: relative;float:right;color: rgb(255, 229, 86);cursor: pointer; text-shadow: 0px 0px 2px rgba(0,0,0,0.7); vertical-align:middle;" data-container="body" data-toggle="popover"
                               data-placement="top" data-content="@Html.DisplayFor(modelItem => item.Notes)"></i>
                        }
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.TrajanjeTerminaUSatima)h
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.Teren)
                    </td>
                    <td style="text-align: center;">
                        @item.VrijemeRezerviranja.ToString(ConfigClass.GetProperty("dateTimeFormat"))
                    </td>
                    <td style="text-align: right;">
                        @Html.ActionLink("Cancel", "Cancel", "Reservation", new { id = item.RezervacijaId }, new { @class = "btn btn-sm btn-danger", style = "color: #fff;", onclick = "return confirm('Are you sure you want to cancel the reservation?');" })
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    }
</div>
<div class="swipe"></div>

<style>
    td {
        vertical-align: middle;
    }
</style>

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>