﻿@model IEnumerable<Rezervacija>

@{
    ViewBag.Title = "Recent reservations";
    var howMany = ViewBag.HowMany;
}

<h2>@ViewBag.Title</h2>
<h4>Browse your recent and last-minute reservations.</h4>
<h4 class="text-danger">Only active (non-canceled) reservations are displayed.</h4>

<hr />
<p>
    @Html.ActionLink("< Admin panel", "Panel", null, new { @class = "btn btn-warning" })

</p>

@using (Html.BeginForm())
{
    <div style="text-align: right;">
        <input type="number" name="howMany" class="form-control" style="display: inline-block; width: 75px;" max="999" value=@howMany />
        <input id="searchBtn" type="submit" name="" value="Go" class=" btn btn-sm btn-default" />
    </div>
}

<div style="overflow-x:auto; white-space: nowrap">
    <table id="rez" class="table table-striped table-bordered table-responsive nowrap"
           style="font-size: 1em; border: 1px solid #ccc;margin-top: 10px;">
        <thead style="font-weight: bold; background-color: rgba(202, 202, 202, 0.45)">
            <tr>
                <th>Time</th>
                <th style="text-align: center;">Name and surname</th>
                <th style="text-align: center;">Contact phone</th>
                <th style="text-align: center;">Date</th>
                <th style="text-align: center;">Duration</th>
                <th style="text-align: center;">Court</th>
                <th style="text-align: center;">Reserved at</th>
                <th style="text-align: right;" width="73"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Occupied == true)
                {
                    <tr style="background-image:url('../../Images/Backgrounds/grey3.png')">
                        <td style="text-align: left;">
                            @Html.DisplayFor(modelItem => new Termin(item.VrijemeTermina).SatDisplayFormat)
                        </td>
                        <td colspan="2" style="text-align: center;">
                            @Html.DisplayFor(modelItem => item.ImeIPrezime)
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => item.DatumTermina)
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => item.TrajanjeTerminaUSatima)h
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => item.Teren)
                        </td>
                        <td style="text-align: center;">
                            @item.VrijemeRezerviranja.ToString(ConfigClass.GetProperty("dateTimeFormat"))
                        </td>
                        <td style="text-align: right;">
                            @Html.ActionLink("Cancel", "Cancel", "Reservation", new { id = item.RezervacijaId }, new { @class = "btn btn-sm btn-danger", style = "color: #fff;", onclick = "return confirm('Are you sure you want to cancel the reservation?');" })
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="text-align: left;">
                            @Html.DisplayFor(modelItem => new Termin(item.VrijemeTermina).SatDisplayFormat)
                        </td>
                        <td colspan="1" style="text-align: center;">
                            @Html.DisplayFor(modelItem => item.ImeIPrezime)
                        </td>
                        <td style="text-align: center;">
                            <a href="tel:@item.BrojMobitela">
                                @Html.DisplayFor(modelItem => item.BrojMobitela)
                            </a>
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => item.DatumTermina)
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => item.TrajanjeTerminaUSatima)h
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => item.Teren)
                        </td>
                        <td style="text-align: center;">
                            @item.VrijemeRezerviranja.ToString(ConfigClass.GetProperty("dateTimeFormat"))
                        </td>
                        <td style="text-align: right;">
                            @Html.ActionLink("Cancel", "Cancel", "Reservation", new { id = item.RezervacijaId }, new { @class = "btn btn-sm btn-danger", style = "color: #fff;", onclick = "return confirm('Are you sure you want to cancel the reservation?');" })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>
<div class="swipe"></div>

<script>
    function pretrazi() {
        $('#searchBtn').click();
    }
</script>