﻿@using WebApp.Data;
@using WebApp.Models;

@{
    ViewBag.Title = "Mark slot as occupied";
    var termini = ViewBag.Termini as IEnumerable<Termin>;
    var ddlTermini = new SelectList(items: termini, dataTextField: "SatDisplayFormat", dataValueField: "TerminSat");

    var trajanja = ViewBag.Trajanja as IEnumerable<Trajanje>;
    var ddlTrajanja = new SelectList(items: trajanja, dataTextField: "TrajanjeDisplayFormat", dataValueField: "TrajanjeUSatima");

    var ddlTereni = new SelectList(items: "", dataTextField: "Naziv", dataValueField: "Naziv");

    string message = @ViewBag.Message;
}

@if (ViewBag.Added == true)
{
    <br />
    <div class="alert alert-success">@Html.Nl2Br(message)</div>
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



<div class="form-horizontal">
    <hr />
    <div class="form-group">
        @Html.Label("Date:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="date" id="inputDatumi" name="DatumTermina" class="form-control" value=@DateTime.UtcNow.ToString("yyyy-MM-dd") min=@DateTime.UtcNow onchange="loadTermini()" required />
        </div>
    </div>

    <div class="form-group">
        @Html.Label("All hours:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBox(name: "AllHours", isChecked: false, htmlAttributes: new { id="allHours" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Duration:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList(name: "TrajanjeTerminaUSatima", selectList: ddlTrajanja, htmlAttributes: new { id = "ddlTrajanja", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Available hours:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList(name: "VrijemeTermina", selectList: ddlTermini, htmlAttributes: new { id = "ddlTermini", @class = "form-control", required = "required", onchange = "loadTereni()" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Court:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList(name: "Teren", selectList: ddlTereni, htmlAttributes: new { id = "ddlTereni", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Notes:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextArea(name: "Notes", htmlAttributes: new { @class = "form-control", placeholder = "optional" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-9">
            @Html.ActionLink("< Admin panel", "Panel", null, new { @class = "btn btn-warning" })

            <input type="submit" value="Submit" id="sbmBtn" class="btn btn-primary" />
        </div>
    </div>
</div>
}


<script>
    $(function () {
            document.getElementById('inputDatumi').innerText = Date().toString();

            loadTermini();
            
        //$("#allHours").change(function () {
        //    if ($(this).is(":checked")) {
        //            $("#ddlTermini").prop('disabled', true);
        //        }
        //    else {

        //            $("#ddlTermini").prop('disabled', false);

        //        }
        //    });
        });

        function loadTermini() {
            $("#ddlTermini").empty();
            $.ajax({
                url: '@Url.Action("GetSlobodniTermini")',
                data: { date: $("#inputDatumi").val() },
                success: function (podatci) {
                            if (podatci.length > 0) {
                                $(podatci).each(function (index, termin) {
                                    var option = new Option(termin.SatDisplayFormat, termin.TerminSat, null, null);
                                    $("#ddlTermini").append(option);
                                });
                                loadTereni();
                            }
                            else {
                                //alert("Za odabrani termin nema dostupnih terena.");
                                $("#ddlTereni").empty();
                            }
                    }
            });
        }

        function loadTereni() {
            if ($("#ddlTermini").val() !== null && $("#inputDatumi").val() !== null) {
                $("#ddlTereni").empty();
                $.ajax({
                    url: '@Url.Action("GetSlobodniTereni", "Reservation")',
                    data: { date: $("#inputDatumi").val(), time: $("#ddlTermini").val() },
                    success: function (podatci) {
                        if (podatci.length > 0) {
                            $(podatci).each(function (index, teren) {
                                var option = new Option(teren.Naziv, teren.Naziv, null, null);
                                $("#ddlTereni").append(option);
                            });
                        }
                    }
                });
            }

        }

</script>

<style>
    @@media only screen and (max-width: 600px) {
        .col-md-10 * {
            min-width: 100% !important;
        }
    }
</style>