﻿
@{
    ViewBag.Title = "Statistics";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

<h2>Statistics</h2>
<h3>Track your statistics to improve your overall sales.</h3>
<hr />
<div>
    <button class="btn btn-default">Weekly active reservations</button>
    <button class="btn btn-default">Weekly received reservations</button>
    <button class="btn btn-default">Weekly canceled reservations</button>
    <button class="btn btn-default">Weekly page views</button>
    <hr />

    From: <input type="date" id="inputDatumi" name="DatumTerminaOd" class="form-control" style="display: inline-block" value=@DateTime.Now.ToString("yyyy-MM-dd") />
    to: <input type="date" id="inputDatumi" name="DatumTerminaDo" class="form-control" style="display: inline-block" value=@DateTime.Now.AddDays(7).ToString("yyyy-MM-dd") />
    <input id="searchBtn" type="submit" name="" value="Search" class=" btn btn-sm btn-default" />
</div>

<canvas id="myChart" width="200" height="200" style="margin-top: 20px;"></canvas>

<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            datasets: [{
                label: 'Total active reservations',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor:
                    'rgba(0, 99, 132, 0.2)'
                ,
                borderColor:
                    'rgba(0, 99,132,1)'

                ,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>

<style>
    @@media only screen and (max-width: 600px) {
        .btn-default {
            margin-bottom: 5px;
        }

        #inputDatumi{
            margin-top: 2px;
        }
    }
</style>
