﻿
@{
    ViewBag.Title = "FAQ";
}

<h2>FAQ</h2>
<h4>You can find the most frequently asked questions here.</h4>
<hr />
<div id="accordion" style="font-family: 'Quicksand', sans-serif;">
    <h3>Question 1</h3>
    <div>
        Answer 1
    </div>
    <h3>Question 2</h3>
    <div>
        Answer 2
    </div>
    <h3>Question 3</h3>
    <div>
        Answer 3
    </div>
    <h3>Question 4</h3>
    <div>
        Answer 4
    </div>
</div>
<br />
<div style="text-align: center;">
    @Html.ActionLink("Book now", "Book", "Reservation", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Contact us", "Informations", null, new { @class = "btn btn-success" })
</div>

<script>
    $(function () {
        $("#accordion").accordion();
    });
</script>