﻿@using System.Configuration;
@{
    ViewBag.Title = "Informations";
}

<div class="container" id="informacijeHolder">
    <h2>@ViewBag.Title</h2>
    <p>@ConfigClass.GetProperty("opisObjekta")</p>
    
    <hr />
      
    <div>
        <h3>Contact</h3>
        <p><b>Phone: </b><a href="tel:@ConfigClass.GetProperty("kontaktMobitel")">@ConfigClass.GetProperty("kontaktMobitel")</a></p>
        <p><b>Email: </b><a href="mailto:@ConfigClass.GetProperty("kontaktEmail")"></a>@ConfigClass.GetProperty("kontaktEmail")</p>
        <hr />
        <h3>Where can you find us?</h3>
        <h4>@ConfigClass.GetProperty("courtsAddress1")</h4>
        <h4>@ConfigClass.GetProperty("courtsAddress2")</h4>
        
        <div style="overflow: scroll;">
            <iframe src="@ConfigClass.GetProperty("googleMapsLink")"
                    width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <hr />
    <div style="text-align: center;">
        @Html.ActionLink("Prices", "Prices", null, new { @class = "btn btn-warning" })
        @Html.ActionLink("Book now", "Book", "Reservation", null, new { @class = "btn btn-primary" })
    </div>
</div>


<style>
    @@media only screen and (min-width: 600px) {
        #informacijeHolder {
            padding-right: 40px;
        }
    }
</style>

