﻿@{
    ViewBag.Title = "Prices";
}

<h2>@ViewBag.Title</h2>

<table class="table" style="border: 1px solid #ccc;">
    <thead>
        <tr>
            <td>Dates</td>
            <td style="text-align: right; vertical-align:middle;">Price</td>
        </tr>

    </thead>
    <tr>
        <td>
            <b>Summer</b>
            <br />
            <b>@ConfigClass.GetProperty("ljetoDatumiOdDo")</b>
        </td>
        <td style="text-align: right; vertical-align:middle;">
            Day: <b>$@ConfigClass.GetProperty("cijenaLjetoDan")</b><br />
            Night: <b>$@ConfigClass.GetProperty("cijenaLjetoNoc")</b>
        </td>
    </tr>
    <tr>
        <td>
            <b>Winter</b>
            <br />
            <b>@ConfigClass.GetProperty("zimaDatumiOdDo")</b>
        </td>
        <td style="text-align: right; vertical-align:middle;">
            Day: <b>$@ConfigClass.GetProperty("cijenaZimaDan")</b><br />
            Night: <b>$@ConfigClass.GetProperty("cijenaZimaNoc")</b>
        </td>
    </tr>
</table>

<div style="text-align: center;">
    @Html.ActionLink("Book now", "Book", "Reservation", null, new { @class = "btn btn-primary" })
</div>
