﻿
@{
    ViewBag.Title = "Home page";
}

<div class="indexBody" style="min-height: 1000px;">

    @*slideshow*@
    <div class="slideshowHolder" style="opacity: 0; padding: 0 10px;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <h1>@ConfigClass.GetProperty("appShortName")</h1>
                    @*<img src="~/Images/yourimage.jpg" alt="Los Angeles">*@
                </div>

                <div class="item">
                    <h1>@ConfigClass.GetProperty("appLongName")</h1>
                    @*<img src="~/Images/yourimage.jpg" alt="Chicago">*@
                </div>
            </div>
        </div>
    </div>

    <div class="restOfTheBody" style="display: none;">

        @*welcome section*@



        @*3column jumbotron*@
        <div class="componentsHolder jumbotron fullBodyWidthHolder" style="margin-top: -0.5px !important;">
            <div class="hiddenOnSmall">
                <div class="col-md-4 component">
                    <img src="~/Images/stretching-exercises.png" width="80" />
                    <h3><b>Recreate yourself</b></h3>
                    <p>We offer high quality tennis courts that you can book every day from @ConfigClass.GetProperty("radnoVrijemeOd") to @ConfigClass.GetProperty("radnoVrijemeDo") h.</p>
                </div>
                <hr class="colHr" />
            </div>
            <div class="col-md-4 component">
                <img src="~/Images/clipboard.png" width="80" />
                <h3><b>Online booking</b></h3>
                <p>You can book our tennis courts in a minute, no registration required. Try it now!</p>
                @Html.ActionLink("Book now", "Book", "Reservation", null, new { @class = "btn btn-primary" })
            </div>
            <hr class="colHr" />
            <div class="col-md-4 component">
                <img src="~/Images/target.png" width="80" />
                <h3><b>Find available times</b></h3>
                <p>Our system automatically shows available times. Just choose a date you will see available times and courts.</p>
            </div>
        </div>

        @*address and contact details*@
        <div id="contactInfo" class="fullBodyWidthHolder infoHolder">
            <div class="col-md-6" style="text-align: right;">
                <h3>@ConfigClass.GetProperty("appLongName")</h3>
                <hr style="width: 40%; float: right; display: block; margin: 10px 0;" />
                <br />
                <br />

                <h4>@ConfigClass.GetProperty("courtsAddress1")</h4>
                <h5>@ConfigClass.GetProperty("courtsAddress2")</h5>
            </div>
            <div class="col-md-6" style="text-align: left; margin-top: 16px;">
                <h4>Contact</h4>
                <hr style="width: 40%; float: left; display: block; margin: 10px 0;" />
                <br />
                <br />
                <p><b>Phone: </b><a href="tel:@ConfigClass.GetProperty("kontaktMobitel")">@ConfigClass.GetProperty("kontaktMobitel")</a></p>
                <p><b>Email: </b><a href="mailto:@ConfigClass.GetProperty("kontaktEmail")"></a>@ConfigClass.GetProperty("kontaktEmail")</p>
            </div>
        </div>



        @*google maps iframe*@
        <div class="fullBodyWidthHolder">
            <iframe src="@ConfigClass.GetProperty("googleMapsLink")"
                    width="400" height="300" frameborder="0" style="border:0; overflow: hidden;" allowfullscreen></iframe>
        </div>


    </div>
</div>

<script>

    $(function () {
        //fadein display
        $(".slideshowHolder").fadeTo(500, 1, null, function () {
                $(".restOfTheBody").fadeTo(500, 1);
        });
    });

    var brzina = @ConfigClass.GetProperty("brzinaCarousela")
    $('.carousel').carousel({
        interval: brzina
        });
</script>

<style>

    .alert-warning a {
        color: #691d00;
    }

    a {
        color: #fff;
    }

    .jumbotron {
        background-image: url("../../Images/Backgrounds/grey3.png");
    }

    .componentsHolder {
        margin-top: 15px !important;
        padding: 20px;
        min-height: 350px;
        margin-bottom: 20px;
        -moz-box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.3), inset 0px -11px 8px -10px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.3), inset 0px -11px 8px -10px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.3), inset 0px -11px 8px -10px rgba(0, 0, 0, 0.3);
    }

    .component {
        padding: 20px;
        text-align: center;
    }

    .slideshowHolder {
        border-radius: 10px;
        overflow: hidden;
        margin-top: 15px;
        margin-bottom: 15px !important;
    }

    #myCarousel {
        margin-top: -15px;
    }

    iframe {
        width: 100%;
    }

    .fullBodyWidthHolder {
        margin: 0 -15.2px;
        border-bottom: 1px #ccc solid;
    }

    .jumbotron {
        -moz-border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        border-radius: 0 !important;
    }

    .infoHolder {
        min-height: 223px;
        margin-top: -1px;
        background-color: #222;
        color: #fff;
        text-shadow: 0 0 4px #000;
        padding: 20px;
        text-align: center;
        /*-moz-box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.3), inset 0px -11px 8px -10px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.3), inset 0px -11px 8px -10px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.3), inset 0px -11px 8px -10px rgba(0, 0, 0, 0.3);*/
    }

    .vCenter {
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logoImage {
        vertical-align: middle;
        height: auto;
        width: 40%;
    }

    .component p {
        font-size: 1.14em;
    }

    @@media only screen and (max-width: 600px) {
        .hiddenOnSmall {
            display: none;
        }

        .component img {
            width: 40px;
        }

        .component p {
            font-size: 1em;
        }

        .vCenter {
            height: 100px;
        }
    }

    @@media only screen and (min-width: 601px) {
        .colHr {
            display: none;
        }
    }
</style>

