﻿<p id="socialHolder" style="font-size: 2em; margin-top: -5px;">
    <a href="http://facebook.com/" style="color: #3b5998;">
        <i class="fab fa-facebook-square"></i>
    </a>
    <a href="http://instagram.com/" style="color: #ee3c3c;">
        <i class="fab fa-instagram"></i>
    </a>
</p>

<style>
    #socialHolder > a:hover{
        text-decoration: none;
    }
</style>