﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<br />
<div class="alert-danger alert">
    <div style="display: inline-block; margin: 20px;">
        <img src="~/Images/error.png" />
    </div>
    <div style="display: inline-block; padding-top: 20px;">
        <h1 class="text-danger">Greška.</h1>
        <h2>Nažalost dogodila se greška prilikom vašeg zahtjeva.</h2>
    </div>
</div>
<div style="text-align: center;">
    @Html.ActionLink("Pogledajte cijenik", "Cijene", "Info", null, new { @class = "btn btn-warning" })
    @Html.ActionLink("Rezervirajte", "Rezerviraj", "Rezervacija", null, new { @class = "btn btn-primary" })
</div>


