﻿
@{
    ViewBag.Title = "Add notes";
    Guid guid = ViewBag.ReservationId;
}

<h2>Add notes</h2>
<h4>You can add additional information or questions regarding you reservation below.</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.Hidden(name: "Guid", value: guid)
        <div class="form-group">
            @Html.Label("Notes:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextArea(name: "Notes", htmlAttributes: new { @class = "form-control", placeholder = "optional" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-9">
                @Html.ActionLink("< Reservation", "View", "Reservation", new { id = ViewBag.ReservationId }, new { @class = "btn btn-warning", value = @ViewBag.Notes })
                <input type="submit" value="Submit" id="sbmBtn" class="btn btn-primary" />
            </div>
        </div>
    </div>

}
