﻿@model Rezervacija
@using WebApp.Models.Utilities

@{
    ViewBag.Title = "Booking";

    var termini = ViewBag.Termini as IEnumerable<Termin>;
    var ddlTermini = new SelectList(items: termini, dataTextField: "SatDisplayFormat", dataValueField: "TerminSat");

    var ddlTereni = new SelectList(items: "", dataTextField: "Naziv", dataValueField: "Naziv");

    var trajanja = ViewBag.Trajanja as IEnumerable<Trajanje>;
    var ddlTrajanja = new SelectList(items: trajanja, dataTextField: "TrajanjeDisplayFormat", dataValueField: "TrajanjeUSatima");

    var posljednjeAzuriranje = ViewBag.PosljednjeAzuriranje;
    var doWeDeletePersonalData = ViewBag.DoWeDeletePersonalData;
    var datum = ViewBag.Datum;
}


<div style="margin-top: 15px;" class="weather-holder" hidden>
    <a class="weatherwidget-io" href="https://forecast7.com/en/34d05n118d24/los-angeles/?unit=us" data-label_1="LOS ANGELES" data-label_2="WEATHER" data-icons="Climacons Animated" data-days="5" data-theme="pure">LOS ANGELES WEATHER</a>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="min-height: 450px !important;">
        <h2>Book now!</h2>

        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-7 form">
            <div class="form-group">
                @Html.LabelFor(model => model.ImeIPrezime, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ImeIPrezime, new { htmlAttributes = new { @class = "form-control", placeholder = "reservation holder name" } })
                    @Html.ValidationMessageFor(model => model.ImeIPrezime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BrojMobitela, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.BrojMobitela, new { htmlAttributes = new { @class = "form-control", placeholder = "contact number" } })
                    @Html.ValidationMessageFor(model => model.BrojMobitela, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "example@gmail.com", type = "email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DatumTermina, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <input type="date" id="inputDatumi" name="DatumTermina" value=@datum.ToString("yyyy-MM-dd") onchange="loadTermini();" class="form-control" />
                    @Html.ValidationMessageFor(model => model.DatumTermina, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VrijemeTermina, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownList(name: "VrijemeTermina", selectList: ddlTermini, htmlAttributes: new { id = "ddlTermini", @class = "form-control", onchange = "loadTereni()" })
                    <p class="text-danger terminValidation" hidden style="margin-bottom: 0px;">There are no free slots for selected date.</p>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Teren", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownList(name: "Teren", selectList: ddlTereni, htmlAttributes: new { id = "ddlTereni", @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TrajanjeTerminaUSatima, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownList(name: "TrajanjeTerminaUSatima", selectList: ddlTrajanja, htmlAttributes: new { id = "ddlTrajanja", @class = "form-control" })

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Book" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}

@*<div class="col-md-5" style="margin: -15px -15px 0;">
        <div id="notificationContainer">
            <div class="alert alert-warning" style="font-size: 1em; margin-bottom: 5px;">
                <b>Insert reservation holder details below, select the date you wish to play and available times and courts will be displayed.</b>
            </div>
            <div class="alert alert-success" style="font-size: 1em; margin-bottom: 15px;">
                <b>Your reservation will be confirmed as soon as you click Book. You will receive an email notification.</b>
            </div>
            @if (doWeDeletePersonalData == true)
            {
                <div class="alert alert-success" style="margin-bottom: 7px;">
                    <b style="font-size: 0.87em;">
                        Your personal data will be deleted in 24 hours after the reservation ends.
                    </b>
                </div>
            }
        </div>
    </div>*@

<style>
    #notificationContainer {
        /*border: 1px rgba(128, 128, 128, 0.2) solid;*/
        -moz-border-radius: inherit;
        -webkit-border-radius: inherit;
        border-radius: 5px;
        /*padding: 0px 5px;*/
    }

    .danger-form {
        border: 1px solid red;
    }

    input, textarea {
        width: 100%;
        display: block
    }

    @@media only screen and (max-width: 600px) {
        .col-md-8 * {
            min-width: 100% !important;
        }

        #notificationContainer {
            margin-top: -20px;
        }
    }

    @@media only screen and (min-width: 601px) {
        .form-horizontal {
            padding: 0 20px;
        }

        .col-md-7 {
            margin-top: -15px;
        }
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');

        $(function () {

            $(".weather-holder").slideDown(1000, function () {
            });

            document.getElementById('inputDatumi').innerText = Date().toString();

            loadTermini();
        });

        function loadTermini() {
            $("#ddlTermini").empty();
            $.ajax({
                url: '@Url.Action("GetSlobodniTermini")',
                data: { date: $("#inputDatumi").val() },
                success: function (podatci) {
                            if (podatci.length > 0) {
                                $(podatci).each(function (index, termin) {
                                    var option = new Option(termin.SatDisplayFormat, termin.TerminSat, null, null);
                                    $("#ddlTermini").append(option);
                                    $(".terminValidation").hide();
                                });
                                loadTereni();
                            }
                            else {
                                $("#ddlTereni").empty();
                                $(".terminValidation").show();
                            }
                    }
            });
        }

        function loadTereni() {
            if ($("#ddlTermini").val() !== null && $("#inputDatumi").val() !== null) {
                $("#ddlTereni").empty();
                $.ajax({
                    url: '@Url.Action("GetSlobodniTereni")',
                    data: { date: $("#inputDatumi").val(), time: $("#ddlTermini").val() },
                    success: function (podatci) {
                        if (podatci.length > 0) {
                            $(podatci).each(function (index, teren) {
                                var option = new Option(teren.Naziv, teren.Naziv, null, null);
                                $("#ddlTereni").append(option);
                            });
                        }
                    }
                });
            }

        }

    </script>
}
