﻿
@{
    ViewBag.Title = "Canceled";
}
<br />
<div class="alert alert-danger">
    <b>Reservation has been canceled.</b><br />
    <b>Reservation ID:</b> @ViewBag.Id
</div>

<hr />
<div style="text-align: center;">
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Admin panel", "Panel", "Admin", null, new { @class = "btn btn-warning" })

    }
    else
    {
        @Html.ActionLink("Book again", "Book", "Reservation", null, new { @class = "btn btn-primary" })
    }
</div>