﻿@using WebApp.Controllers;
@{
    ViewBag.Title = "Home page";
    var posljednjeAzuriranje = ViewBag.PosljednjeAzuriranje;
    var datum = ViewBag.Datum;
}


<div id="stholder">
    <div style="display: inline-block; margin: auto; position: relative; margin: 70px;">
        @Html.ActionLink("Book now!", nameof(ReservationController.Book), null, new { @class = "btn btn-default" })
    </div>
</div>



<style>
    .holder {
        border-radius: 3.7px;
        margin: 0px;
        padding: 20px;
        padding-top: 0px;
    }

    .container {
    }

    .panel {
        box-shadow: none !important;
    }


    @@media only screen and (max-width: 600px) {
        .holder {
            margin: -10px 0;
        }
    }

    #stholder {
        text-align: center;
        height: 400px;
        margin-top: -1px;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background: url("");
    }
</style>
