﻿
@{
    ViewBag.Title = "Currently unavailable";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <hr />
    <div class="alert alert-warning">
        Dear customer, we are currently not available.
        <br />
        Please try again later.
    </div>
</div>