﻿@model Rezervacija
@using WebApp.Controllers;

@{
    ViewBag.Title = "Reservation details";

}

<h2>@ViewBag.Title</h2>

<div id="holder">
    @if (ViewBag.Action != null)
    {
        <div>xxx @ViewBag.Action</div>
        if (ViewBag.Action == "booked")
        {
            <div class="alert alert-success">Your booking has been successful!</div>
        }
        if (ViewBag.Action == "note")
        {
            <div class="alert alert-warning">Note has been updated.</div>
        }
    }
    else
    {
        <hr />
    }
    

    @if (!String.IsNullOrEmpty(Model.Notes))
    {
        @Html.ActionLink("Edit note", nameof(ReservationController.AddNotes), new { id = Model.RezervacijaId }, new { @class = "btn btn-warning", style = "margin: 5px 0;" });
    }
    else
    {
        @Html.ActionLink("Add note", nameof(ReservationController.AddNotes), new { id = Model.RezervacijaId }, new { @class = "btn btn-warning", style = "margin: 5px 0;" });
    }

    @Html.ActionLink("Cancel reservation", nameof(ReservationController.Cancel), new { id = Model.RezervacijaId }, new { @class = "btn btn-danger", style = "margin: 5px 0;", onclick = "return confirm('Are you sure you want to cancel this reservation?');" })

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImeIPrezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImeIPrezime)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.BrojMobitela)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojMobitela)
        </dd>
        <hr />

        @if (Model.Email != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <hr />


        }
        <dt>
            @Html.DisplayNameFor(model => model.DatumTermina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumTermina)
        </dd>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.VrijemeTermina)
        </dt>

        <dd>
            @Html.DisplayFor(model => new Termin(model.VrijemeTermina).SatDisplayFormat)
        </dd>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.TrajanjeTerminaUSatima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrajanjeTerminaUSatima)h

        </dd>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.Teren)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teren)

        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.VrijemeRezerviranja)
        </dt>

        <dd>
            @Model.VrijemeRezerviranja.ToString(ConfigClass.GetProperty("dateTimeFormat"))
        </dd>

        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.RezervacijaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RezervacijaId)

        </dd>

        <hr />

        @if (!String.IsNullOrEmpty(Model.Notes))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)

            </dd>
            <hr />
        }
    </dl>
</div>

<style>
    @@media only screen and (min-width: 600px) {
        #holder {
            padding: 15px 35px 0 35px;
        }
    }
</style>