﻿.swipe{
    background-image: url('../Images/swipe.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
}

@media only screen and (min-width: 600px) {
    .swipe {
        visibility: hidden;
    }

}